<!DOCTYPE html>
<html lang="en" xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Meme Captain meme generator</title>
<style type="text/css">
body {
  font-family : verdana, helvetica, arial, sans-serif;
}

#sourceImages {
  background-color : #eee;
  border : 1px solid #ccc;
  padding : 0em 1em 0.5em 1em;
  margin : 1em 0em 1em 0em;
}

img.thumb {
  margin : 2px;
}

#heading {
  font-size : 1em;
  font-weight : normal;
}
</style>
</head>

<body>

<h1 id="heading"><a href="<%= h @root_url %>">Meme Captain</a> - make memes with images and text</h1>

<div id="img"></div>

<form action="" method="get">

<table>

<tr>
<td><label for="u">Source image URL: </label></td>
<td><input type="text" id="u" name="u" size="64" value="<%= h @u %>"/></td>
</tr>

<tr>
<td><label for="tt">Top text: </label></td>
<td><input type="text" id="tt" name="tt" size="64" value="<%= h @tt %>" /></td>
</tr>

<tr>
<td><label for="tb">Bottom text: </label></td>
<td><input type="text" id="tb" name="tb" size="64" value="<%= h @tb %>" /></td>
</tr>

<tr>
<td></td>
<td><input type="submit" value="Create Image" /></td>
</tr>

</table>

</form>

<div id="sourceImages">

<p>Locally hosted source images or search for source images (click thumbnail to use):</p>

<div id="imageSearchResults"></div>

<form action="" method="get">
<input type="text" id="imageSearch" />
<input type="button" id="imageSearchButton" value="Image Search" /> powered by Bing and Google
</form>

</div>

<p>
Contact: Matthew M. Boedicker <a href="mailto:matthewm@boedicker.org">matthewm@boedicker.org</a> |
<a href="http://twitter.com/memecaptain">@memecaptain</a>
</p>

<p><a href="https://github.com/mmb/meme_captain">source code and API</a></p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
function showBingImages(resp) {
    var div = $('#imageSearchResults'),
        searchResponse = resp.SearchResponse,
        image = searchResponse.Image;

    if (image.Total > 0) {
        $.each(image.Results, function (i, img) {
            div.append($('<img />').attr('src', img.Thumbnail.Url).click(
                function () { $('#u').val(img.MediaUrl); }
            ));
        });
    } else {
        div.append($('<p />').append(
            'No Bing results for "' + searchResponse.Query.SearchTerms + '".'));
    }
}

function showGoogleImages(resp) {
    var div = $('#imageSearchResults'),
        searchResults = resp.responseData.results;

    if (searchResults.length > 0) {
        $.each(searchResults, function (i, img) {
            div.append($('<img />').attr('src', img.tbUrl).click(
                function () { $('#u').val(img.url); }
            ));
        });
    } else {
        div.append($('<p />').append('No Google results.'));
    }
}

function imageSearch() {
    var imageSearch = $('#imageSearch'),
        imageSearchVal = imageSearch.val();

    if (imageSearchVal.match(/[^\s]/)) {
        imageSearch.val('');
        $('#imageSearchResults').empty();

        $.ajax({
            type : 'GET',
            url : 'http://api.bing.net/json.aspx',
            data : {
                AppId : 'A120380275E87F0071F163210211F0592D0E964C',
                Query : imageSearchVal + ' imagesize:Medium',
                Sources : 'Image',
                Version : '2.0',
                Market : 'en-us',
                'Image.Count' : 5,
                'Image.Offset' : 0,
                JsonType : 'callback'
            },
            dataType : 'jsonp',
            jsonpCallback : 'showBingImages',
            jsonp : 'JsonCallback'
        });

        $.ajax({
            type : 'GET',
            url : 'http://ajax.googleapis.com/ajax/services/search/images',
            data : {
                imgsz : 'large',
                key : 'ABQIAAAA-E0uJIHoMJX6M6atCgYANRS1DzXPXMqKnKNRJm2Z_PRWxvtqGBSOvBqyXOwxGZU5jLxExg_5ym69rw',
                q : imageSearchVal,
                rsz : '5',
                v : '1.0',
            },
            dataType : 'jsonp',
            jsonpCallback : 'showGoogleImages',
        });
    }
}

function loadSourceImages() {
    $.get('source_images.json', function(data) {
        var pos = 0,
            div = $('#imageSearchResults');

        $.each(data.images, function (i, img) {
            div.before($('<img />').attr('src', '1.gif').addClass('thumb').css({
                'background-image' : 'url(' + data.thumbSpritesUrl + ')',
                'background-position' : pos + 'px 0px',
                height : data.thumbHeight,
                width : img.thumbWidth + 'px',
            }).click(function() {
                $('#u').val(img.url);
            }));

            pos -= img.thumbWidth;
        });
    });
}

$(function () {
    var image,
        imgDiv;

    loadSourceImages();

    if (window.location.search.match(/u=[^&$]/)) {
        $('#tt').focus();

        imgDiv = $('#img');

        imgDiv.append($('<p />').append('Creating image ...'));

        $.get('/g' + window.location.search, function (data) {
            var img = $('<img />').attr('src', data.permUrl),
            imgLink = $('<a />').attr('href', data.permUrl).append(data.permUrl),
            templateLink = $('<a />').attr('href', data.templateUrl).append(
                data.templateUrl),
            tweetLink = $('<a />').attr({
                href : 'http://twitter.com/share',
                'class' : 'twitter-share-button',
                'data-count' : 'none',
                'data-text' : ' ',
                'data-url' : data.permUrl
                }).append('Tweet');

            imgDiv.empty().append(
                img).append(
                $('<p />').append('Image: ').append(imgLink)).append(
                $('<p />').append('Template: ').append(
                    templateLink)).append(
                $('<p />').append(tweetLink).append($('<script />').attr('src',
                    'http://platform.twitter.com/widgets.js')));

            // Facebook like
            imgDiv.append(
                $('<div />').attr('id', 'fb-root')).append(
                $('<fb:like />').attr({
                    href : data.permUrl,
                    send : 'true',
                    width : '450',
                    show_faces : 'true',
                    font : ''
                    }));

            window.fbAsyncInit = function () {
                FB.init({
                    appId : '108445492580525',
                    status : true,
                    cookie : true,
                    xfbml : true
                    });
                };

            imgDiv.append($('<script />').attr({
                src : 'http://connect.facebook.net/en_US/all.js'}));
        }).error(function (j) {
          imgDiv.empty().append($('<p />').text(j.responseText));
        });
    } else {
        $('#u').focus();
    }

    $('#imageSearch').keypress(function (event) {
        if (event.which === 13) {
            event.preventDefault();
            imageSearch();
        }
    });

    $('#imageSearchButton').click(imageSearch);
});
</script>

</body>

</html>
