<!DOCTYPE html>
<html lan="en" xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
<title>Meme Captain</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

<p><a href="/">Meme Captain</a></p>

<p>Add text to images from the internet.</p>

<div id="img"></div>

<form action="" method="get">

<table>

<tr>
<td><label for="u" />Source image URL: </label></td>
<td><input type="text" id="u" name="u" size="64" value="<%= h @u %>"/></td>
</tr>

<tr>
<td><label for="tt" />Top text: </label></td>
<td><input type="text" id="tt" name="tt" size="64" value="<%= h @tt %>" /></td>
</tr>

<tr>
<td><label for="tb" />Bottom text: </label></td>
<td><input type="text" id="tb" name="tb" size="64" value="<%= h @tb %>" /></td>
</tr>

<tr>
<td></td>
<td><input type="submit" value="Create Image" /></td>
</tr>

</table>

</form>

<img src="http://memecaptain.com/bear_grylls_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/bear_grylls.jpg'); return false;" />

<img src="http://memecaptain.com/insanity_wolf_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/insanity_wolf.jpg'); return false;" />

<img src="http://memecaptain.com/most_interesting_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/most_interesting.jpg'); return false;" />

<img src="http://memecaptain.com/philosoraptor_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/philosoraptor.jpg'); return false;" />

<img src="http://memecaptain.com/scumbag_steve_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/scumbag_steve.jpg'); return false;" />

<img src="http://memecaptain.com/town_crier_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/town_crier.jpg'); return false;" />

<img src="http://memecaptain.com/troll_face_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/troll_face.jpg'); return false;" />

<img src="http://memecaptain.com/y_u_no_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/y_u_no.jpg'); return false;" />

<img src="http://memecaptain.com/yao_ming_thumb.jpg" onClick="$('#u').val('http://memecaptain.com/yao_ming.jpg'); return false;" />

<p>by Matthew M. Boedicker <a href="mailto:matthewm@boedicker.org">matthewm@boedicker.org</a></p>

<p><a href="https://github.com/mmb/meme_captain">source code</a></p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script>
$(function () {
    if (window.location.search.match(/u=[^&$]/)) {
        var imgDiv = $('#img');

        imgDiv.append($('<p />').append('Creating image ...'));

        $.get('/g' + window.location.search, function(data) {
            var img = $('<img />').attr('src', data.tempUrl),
            tempLink = $('<a />').attr('href', data.tempUrl).append(data.tempUrl),
            permLink = $('<a />').attr('href', data.permUrl).append(data.permUrl),
            tweetLink = $('<a />').attr({
                href : 'http://twitter.com/share',
                'class' : 'twitter-share-button',
                'data-count' : 'none',
                'data-text' : ' ',
                'data-url' : data.permUrl
                }).append('Tweet');

            imgDiv.empty().append(
                img).append(
                $('<p />').append('Temporary image url: ').append(tempLink)).append(
                $('<p />').append('Permanent image url: ').append(permLink)).append(
                $('<p />').append('Temporary url not guaranteed to work forever. Permanent url should work as long as source image exists.')).append(
                $('<p />').append(tweetLink).append($('<script />').attr('src',
                    'http://platform.twitter.com/widgets.js')));

            // Facebook like
            imgDiv.append(
                $('<div />').attr('id', 'fb-root')).append(
                $('<fb:like />').attr({
                    href : data.tempUrl,
                    send : 'true',
                    width : '450',
                    show_faces : 'true',
                    font : ''
                    }));

            window.fbAsyncInit = function() {
                FB.init({
                    appId : '108445492580525',
                    status : true,
                    cookie : true,
                    xfbml : true
                    });
                };

            imgDiv.append($('<script />').attr({
                src : 'http://connect.facebook.net/en_US/all.js'}));
        }).error(function(j) {
          imgDiv.empty().append($('<p />').text(j.responseText));
        });
    }
});
</script>

</body>

</html>
