body {
  background-color : #0772a1;
  color : #dffa00;
  font-family : verdana, helvetica, arial, sans-serif;
}

a img {
  border : 0;
}

a:link {
  color : #edfc72;
}

a:visited {
  color : #63afd0;
}

img.thumb {
  margin : 2px;
}

#logo {
  margin-top : 0.5em;
  margin-bottom : 0.5em;
}

#chooseSourceImage {
  background-color : #ececec;
  border-bottom : 2px solid #e4e4e4;
  color : #000;
  padding : 0.25em 1em 0.25em 1em;
}

#chooseText {
  background-color : #dcdcdc;
  border-bottom : 2px solid #d4d4d4;
  color : #000;
  padding : 0.25em 1em 0.25em 1em;
}

#positionText {
  background-color : #ccc;
  border-bottom : 2px solid #c4c4c4;
  color : #000;
  padding : 0.25em 1em 0.25em 1em;
}

#positionTable {
  display : none;
}

#createdImageContainer {
  background-color : #bcbcbc;
  border-bottom : 2px solid #b4b4b4;
  color : #000;
  padding : 0.25em 1em 0.25em 1em;
}

input[type=text] {
  border-top : 2px solid #6e227e;
  border-right : 2px solid #5a016d;
  border-bottom : 2px solid #5a016d;
  border-left : 2px solid #6e227e;
  padding : 4px 8px 4px 8px;
}

input[type=button] {
  padding : 4px 8px 4px 8px;
}

input[type=text].attn {
  background-color : #a7e464;
}

div.share {
  display : inline-block;
  margin-right : 1em;
  vertical-align : middle;
}
